.desk-view
  width: 90%
  min-width: 600px
  margin: 0 auto
  margin-bottom: 2em
  .desk-name
  	margin: 0.2em 0
    text-align: center

.desk-view .participants
  padding: .5em
  background: #eee
  border-top-left-radius: .5em
  border-top-right-radius: .5em
  ul
    font-size: 0.8em
    margin: 0
    padding: 0
    list-style: none
    li
      display: inline-block
      text-align: center
      margin-right: 1em
      span
      	display: block
	      text-align: center
	      padding: 0.2em 0.5em
	      border-radius: 0.2em
      &.online
      	span
      		background-color: #a7f2a7
      .photo
      	border-radius: 0.5em
      	box-shadow: #aaa 0 0 0.5em
        height: 100px
        width: auto

.stories-list-wrapper
	position: relative
  
#newStory
	margin-top: 1em
	display: block
  padding: 0.5em
  width: 100%
  
#submitNewStory
  position: absolute
  right: 0.5em
  bottom: 0.375em
  
.stories-list      
	padding: 0
  margin: 0
  list-style: none
.story
	border: 1px solid #eee
  padding: 0.5em
  h4
  	margin: 0.2em 0.5em
  .btn,.estimation
  	float: right
  .estimation
  	padding: 0.1em 0.5em
  	border: 2px solid #a7f2a7
  	border-radius: 50%
    font-weight: bold

.story .hr
	margin: 1em 0
    
.story input.btn
  font-weight: normal
  width: 6em
  margin-left: 1em
  background: none
  &:hover
    color: black

.cards
	margin: 0
  padding: 0
  list-style: none
  li
  	display: inline-block
  
.cards label, .votes-list label
	display: inline-block
  width: 144px
  height: 200px
  background-size: contain
  margin: 0 auto
  margin-right: 0.5em
  margin-bottom: 0.5em
  position: relative
  cursor: pointer
  box-shadow: #ddd 0 0 .5em
  border-radius: 8px
  .sel
	  transition: all .5s ease-in-out
  	opacity: 0
    display: block
    position: absolute
    width: 100%
    height: 100%
    border: 2px solid #377ece
    box-shadow: #377ece 0 0 10px
    background: rgba(55, 126, 206, 0.3)
    border-radius: 8px
.cards label input
  display: none
  &:checked + .sel
	  opacity: 1

.votes-list
	margin: 0
  padding: 0
  list-style: none
  .vote
    display: inline-block
    width: 144px
    margin-right: 0.5em
    .name
    	display: block
      text-align: center
      font-size: 0.8em

.vote.notaverage
	label
    box-shadow: #fc523c 0 0 1em
    border-radius: 10px

#downloadExcel, #shareLink, #deskLink
	float: right
  margin-right: 1em
