@import 'nib'

body
  font-family: 'Roboto', sans-serif
  
.btn
  display inline-block
  padding 0.2em 0.5em
  text-decoration none
  border: 1px solid #555
  border-radius: 0em
  box-shadow: #333 0 0 0.0em
  background: #eee
  color: black
  font-weight: bold
  &:hover
  	color: white
    background-color: #555
	&.big
  	font-size: 1.2em
    
.center
	text-align: center
  
.hr
	margin: 1em 0
  height: 1.2em
  line-height: 1.2em
  position: relative
  font-size: 0.8em
  &::before
  	content: ' '
    position: absolute
    display: block
    width: 100%
    height: 1px
    background-color: black
    top: 0.6em
  span
  	padding 0 1em
  	background: white
    z-index: 1
    position: relative
  
  
.home-page
	padding-top: 10em
  .center
  	margin: 0 auto
  	width: 50%
    min-width: 300px
  .hr
  	margin: 5em 0

#desksSearchResult
	display: none
  
input[type="text"],input[type="password"]
	padding: 0.2em