<a id="downloadExcel" href="#" title="Export to CSV"><img width="45" height="45" src="/images/csv.jpg" /></a>
<a id="shareLink" href="#" title="Copy link"><img width="45" height="45" src="/images/link.png" /></a>
<input type="text" value="" id="deskLink" style="display: none;" onClick="this.select();" />
<ul>
  <li><a class="header-link btn" href="{{url "home#index"}}">Start Over</a></li>
</ul>


<table id="stories-list" style="display: none;">
</table>	
<a style="display: none;" id="downloadExcelTrigger" href="#" onclick="return ExcellentExport.csv(this, 'stories-list')">to Excel</a>
