
<div class="center">

	<img src="/images/logo.png" />
  <br /><br /><br />
  
	<a class="btn" href="{{url "home#newdesk"}}">Create new</a>

  <div class="hr">
    <span>
      or choose existing:
    </span>
  </div>

  <form>

    <input id="desksSearch" type="text" placeholder="Start typing desk name..." />
    <div id="desksSearchResult"></div>

  </form>
</div>
