<p>Login with your corporate credentials:</p>
<form id="loginForm">
	<input type="text" name="email" placeholder="Enter your email..." /><a class="btn login-btn big next" href="#">Login ></a>
</form>
<br />


