<form id="newDeskForm">
<i class="mail-prompt">In this prototype version we intentionally send email invitation to you only.
Anyone you <b>select here</b> will still be able to join the game if you send them the link.</i>
  <ul class="steps">
    <li id="step1"></li>
    <li id="step2"></li>
    <li id="step3"></li>
    <li id="step4"></li>
  </ul>
</form>