<div>
  <select name="deck">
    <option value="0">Fibonacci sequence</option>
    <option value="1">Ace-King</option>
    <option value="0">Long Coffee</option>
  </select>
</div>

<div class="wizard-buttons">
  <a class="btn big back" href="#">< Back</a>
  <a class="btn big next" href="#">Create ></a>
</div>
