<div class="decks">
{{#each decks}}
  {{name}}
  <label class="fibohacci"><input type="radio" name="deck" value="{{@index}}"><span class="sel"></span></label>
{{/each}}
</div>
<br />
<input type="text" name="deskName" id="deskName" placeholder="Please set desk name" />

<div class="wizard-buttons">
  <a class="btn big back" href="#">< Back</a>
  <a class="btn big next" href="#">Create ></a>
</div>
