Select participants
<ul>
{{#each participants}}
  <li>
    <label><input type="checkbox" name="participant[]" value="{{id}}" /> {{name}}</label>
  </li>
{{/each}}
</ul>
<a class="add-guest" href="#">(+) add guest</a>

<div class="wizard-buttons">
  <a class="btn big back" href="#">< Back</a>
  <a class="btn big next" href="#">Next ></a>
</div>
