{{#each participants}}
  <div>
    <label><input type="checkbox" name="participant[]" value="{{id}}" /> {{name}}</label>
  </div>
{{/each}}

<a class="btn big back" href="#">Back</a>
<a class="btn big next" href="#">Next</a>