<div>
  <select name="deck">
    <option value="0">Fibonacci sequence</option>
    <option value="1">Ace-King</option>
    <option value="0">Long Coffee</option>
  </select>
</div>
<br />
<input type="text" name="deskName" id="deskName" placeholder="Please set desk name" />

<div class="wizard-buttons">
  <a class="btn big back" href="#">< Back</a>
  <a class="btn big next" href="#">Create ></a>
</div>
