<h5 style="margin-top: 0;">Please select the project:</h5>
<div>
  <select id="selectedProject" name="project">
	{{#each projects}}
    <option value="{{name}}">{{name}}</option>
	{{/each}}
  </select>
</div>

<div class="wizard-buttons">
  <a class="btn big next" href="#">Next ></a>
</div>
