<div class="decks" style="max-height: 75%; overflow: auto;">
{{#each decks}}
  <h5 style="margin-bottom: 0;margin-top: 0.5em;">{{name}}</h5>
  <label>
  	<img src="/images/decks/{{path}}{{img}}" width="200" />
  	<input type="radio" name="deck" value="{{@index}}">
  	<span class="sel"></span>
  </label>
{{/each}}
</div>
<br />
<input type="text" name="deskName" id="deskName" placeholder="Please set desk name" />

<div class="wizard-buttons">
  <a class="btn big back" href="#">< Back</a>
  <a class="btn big next" href="#">Create ></a>
</div>
