<div>
  <select>
	{{#each participants}}
    <option value="{{name}}">{{name}}</option>
	{{/each}}
  </select>
</div>

<div class="wizard-buttons">
  <a class="btn big back" href="#">< Back</a>
  <a class="btn big next" href="#">Next ></a>
</div>
