Select participants
<ul>
<input type="hidden" name="owner" value="{{owner}}" />
{{#each participants}}
  <li>
    <label><input type="checkbox" name="participant" value="{{emailSum}}" /> {{fullNameSum.full}}</label>
  </li>
{{/each}}
</ul>
<a class="add-guest" href="#">(+) add guest</a>

<div class="wizard-buttons">
  <a class="btn big back" href="#">< Back</a>
  <a class="btn big next" href="#">Next ></a>
</div>
